@tailwind base;
@tailwind components;
@tailwind utilities;

.hovered-row,
.hovered-column {
  background-color: #E3E3E3; /* Light blue background */
  border: 1px solid gray;
}

.hovered-row .time-cell,
.hovered-column .header-cell {
  background-color: rgba(173, 216, 230, 0.5); /* Darker blue background for headers */
}

.hovered-header-column {
  background-color: #E3E3E3;
  border: 1px solid gray;
}

.cell {
  height: 140px; /* Set the desired height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.time-cell,
.header-cell {
  height: 140px; /* Match the height of the cells */
}

.selected-cell {
  border: 2px solid #F87171; /* border-red-300 equivalent */
}
