@tailwind base;
@tailwind components;
@tailwind utilities;

.hovered-row ,
.hovered-column {
  background-color: #D7D8D8; /* Light blue background */
}

.hovered-row .time-cell,
.hovered-column .header-cell {
  background-color: rgba(173, 216, 230, 0.5); /* Darker blue background for headers */
}


.hovered-header-column {
    background-color: #D7D8D8;
}